<div class = "flexrow flexheader">
    <div class = "headerleft" onclick="toggleMenu()">
        <img src = "/common/Images/menuicon.png">
        
        <p>TAFT EATS</p>
    </div>

    <div class = "headermiddle">
        <form action = "/showall/" method = "get">
            <input type="text" name ="searchfield" />
            <input type="submit" value="Search" />
        </form>
        <div class="dropdown">
            <button class="dropbtn"><img src = "https://www.shareicon.net/data/2015/08/23/89533_more_512x512.png"></button>
        <form action = "/showalladvanced/" method = "get">
            <div id="advance-search"class="dropdown-content">
                <div class="name">Advanced Search <input type="submit" value="Search" /></div>
                <div class="filter">
                    <div class="label">Price Range </div>
                    <div class="price-bound"><input type="text" name = "lowerprice" id="lower-bound"/> </div>
                        -  <div class="price-bound"><input type="text" name = "upperprice" id="upper-bound" /></div>
                </div>
                <div class="filter" > <div class="label">Stars</div>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text"> 5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text"> 4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text"> 3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text"> 2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text"> 1 star</label>
                    </div>
                and above
            </div>
                <div class="filter"><div class="label">Category(fastfood, coffee, etc.)</div>
                    <select id="category" name="category" >
                        <option value="fastfood">fastfood</option>
                        <option value="coffeee">coffee</option>
                        <option value="drinks">drinks</option>
                        <option value="local">local</option>
                        <option value="snacks">snacks</option>
                        <option value="asian">asian</option>
                        <option value="western">western</option>
                        <option value="all-you-can-eat">all you can eat</option>
                    </select><br>
                </div>
            </div>
            
        </form>
        </div>
        
    </div>