<div class = "flexbody">
        <div class = "flexrestopart flexmenulist">
            <div class = "flexmenuresto">
                <span>De La Salle University</span>
                <a href = "/restopage/DLSU">
                <img src = "/common/Images/DLSU.jpg">
                </a>
            </div>
            <div class = "flexmenuresto">
                <span>EGI Towers</span>
                <a href = "/restopage/EGI">
                <img src = "/common/Images/EGI.jpg">
                </a>
            </div>
            <div class = "flexmenuresto">
                <span>One Archers</span>
                <a href = "/restopage/Archers">
                <img src = "/common/Images/ARCHERS.jpg">
                </a>
            </div>
            <div class = "flexmenuresto">
                <span>Green Residences</span>
                <a href = "/restopage/G_Residences">
                <img src = "/common/Images/GREEN.jpg">
                </a>
            </div>
        </div>
        <div class = "flexrestopart flexmenulist">
            <div class = "flexmenuresto">
                <span>University Mall</span>
                <a href = "/restopage/U_Mall">
                <img src = "/common/Images/UMALL.jpg">
                </a>
            </div>
            <div class = "flexmenuresto">
                <span>R Square</span>
                <a href = "/restopage/R_Square">
                <img src = "/common/Images/RSQUARE.jpg">
                </a>
            </div>
            <div class = "flexmenuresto">
                <span>Manila Residences</span>
                <a href = "/restopage/Man_Res">
                <img src = "/common/Images/MANRES.png">
                </a>
            </div>
            <div class = "flexmenuresto">
                <span>Burgundy</span>
                <a href = "/restopage/Burgundy">
                <img src = "/common/Images/BURGUNDY.jpg">
                </a>
            </div>
        </div>
    </div>    