<div id="menu" class="sidenav">
    <button id="home"   class="dropdown-btn" onclick="toggleVisibility('contents0', 'home')">Home 
        <i class="fa fa-caret-down"></i>
        </button>
    <div id="contents0" class="dropdown-container">
        <a href="/menu-page">Places</a>   
        <a href="/showall/">Restaurants</a>
    </div>
    <button  id="umall" class="dropdown-btn" onclick="toggleVisibility('contents2','umall')">UMall 
    <i class="fa fa-caret-down"></i>
    </button>
    <div id="contents2" class="dropdown-container">
    <a href="/restaurant/U_Mall/mcdonalds">McDonalds</a>
    <a href="/restaurant/U_Mall/kfc">KFC</a>
    </div>
    <button id="burgundy" class="dropdown-btn" onclick="toggleVisibility('contents3','burgundy')">Burgundy 
    <i class="fa fa-caret-down"></i>
    </button>
    <div id="contents3" class="dropdown-container">
    <a href="/restaurant/Burgundy/army_navy">Army Navy</a>
     <a href="/restaurant/Burgundy/starbucks">Starbucks</a>
    </div>
    <button id="dlsu" class="dropdown-btn" onclick="toggleVisibility('contents4','dlsu')">DLSU Manila 
    <i class="fa fa-caret-down"></i>
    </button>
    <div id="contents4" class="dropdown-container">
    <a href="/restaurant/DLSU/coffee_bean">Coffee and Tea Leaf</a>
    </div>
</div>