.flexmain{
    display: flex;
    flex-direction: column;
}

.flexrow{
    display: flex;
}

.flexheader{
    display: flex;
    border-bottom: 1px solid white;
    width: 100%;
    height: 70px;
    background-color: #448753;
    align-items: center;
}

.headerleft, .headermiddle, .headerright{
    display: flex;
    width: 33%;
    margin-top: 5px; 
    align-items: center;
}


.headerleft > img{
    width: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.headerleft > p{
    font-size: 25px;
    font-family: georgia;
    color: white;
}

.form{
    display: flex;
}

.headermiddle{
    padding-left: 5px;
    justify-content: center;
}

.headermiddle > img{
    width: 50px;
    padding-left: 5px;
}

.headerright{
    justify-content: right;
}

.headerright > img{
    width: 50px;
    border-radius: 50%;
}

.flexbody{
    display: flex;
    flex-direction: column;
    /*background-image: linear-gradient(to top, #006600 0%, #009933 100%);*/
    background-color: #dbebd5;
    height: 1000px;
}

.flexrestopart{
    display: flex;
    width: 100%;
    height: 45%;
    align-items: center;
    justify-content: center;
}

.restoprofile, .restodesc, .restomenu{
    display: flex;
    align-items: center;
    margin: 2%;
    width: 33%;
}

.restoprofile{
    height: 100%;
    padding-top: 10px;
}

.restoprofile > img{
    width: 95%;
    height: 95%;
    border-radius: 5%;
}

.restodesc, .restomenu{
    flex-direction: column;
    width: 30%;
    height: 90%;
    background-color: white;
    border-radius: 80px;
    border: 1px solid #448753;
    padding-top: 15px;
    color: #448753;
}

.restodesc > span, .restomenu > span{
    font-size: 30px;
    border-bottom: 1px solid #448753;
}


.revsummary{
    display: flex;
    margin: 2%;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 60%;
    background-color: #448753;
    border-radius: 80px;
    margin: 2%;
    transform: translate(10px, -40px);
    text-align: left;
    color: white;
}

.revsummary > p{
    margin: 3px;
    font-size: 20px;
    font-family: georgia;
    padding-left: 10%;
}

.revstars{
    width: 33%;
    height: 100%;
    transform: translate(60px, 40px);
}

.revstars > img{
    width: 55%;
    height: 95%;
}

table {
    border-collapse: collapse;
    width: 100%;
    transform: translate(-40px, -40px);
}

td {
    text-align: left;
    padding: 20px;
}

progress {
    width: 100%;
    height: 20px; 
}

progress[value]::-webkit-progress-value,
progress[value]::-moz-progress-bar,
progress[value]::-ms-fill {
    background-color: #448753; /* Green */
}
progress[value]::-webkit-progress-bar {
    background-color: #ddd;
}

.flexmenulist{
    display: flex;
    justify-content: space-evenly;
}

.flexmenuresto{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.flexmenuresto > img{
    height: 150%;
    width: 80%;
    border-radius: 80px;
    border: 1px solid #448753;
}

.flexmenuresto > span{
    font-family: georgia;
    background-color: rgba(48, 37, 37, 0.692);
    color: white;
    position: absolute;
    font-size: 25px;
    border-radius: 90px;
}

.userprofileself
{
    height: 25%;
}

.userprofileselfname
{
    height: 25%;
    border-bottom: 1px solid #448753;
    color: #448753;
    font-size: 25px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-family: georgia;
}

.userprofileselfpfpnbio
{
    height: 75%;
    color: #448753;
    font-family: georgia;
    display: flex;
    flex-direction: row;
}

.userprofilepfp
{
    padding: 10px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userprofilepfp > img
{
    border-radius: 50%;
    height: 100%;
}

.userprofilebio
{
    color: #448753;
    font-family: georgia;
    font-size: 20px;
    width: 80%;
    padding: 20px;
}

.userprofilereviews
{
    height: 75%;
    background-color: paleturquoise;
    display: flex;
    flex-direction: row;
}

.userprofilereviewleft
{
    /*just an empty spacer for now*/
    width: 20%;
    background-color: antiquewhite;
    padding: 10px;
}

.userprofilereviewright
{
    width: 80%;
    background-color: pink;
    padding: 20px;
    border-top: 1px solid #448753;
    display: flex;
    flex-direction: column;
}

.reviewupper
{
    height: 5%;
    font-size: 25px;
    color: #448753;
    font-family: georgia;
    padding-bottom: 10px;
    border-bottom: 1px solid #448753;
}

.reviewlower
{
    height: 95%;
    font-size: 25px;
    background-color: darksalmon;
    color: #448753;
    font-family: georgia;
    padding: 20px;
    display: flex;
    flex-direction: column;
}




