/*MICOLE*/
body{
    margin:0%;
    width:100%;
    height:100%;
    padding:0%;
    position: absolute;
}

  #go{
  
  width:10px;
  height:10px;
  }


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 9;
}
/* Dropdown Button */
.dropbtn {
  background-color: #448753;
  border: none;
  display:flex;
  justify-content: center;
}

#topsearch{
  
  padding-left: 5px;
  justify-content: center;
  padding-bottom: 0px;
  margin-bottom: 2px;
}
.dropbtn > img{
    width: 60px;
    height: 50px;
    padding-left: 5px;
  }

/* filters inside the dropdown */
.dropdown-content .filter {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-items:center;
}
/*title of dropdown / advanced search*/
.dropdown-content .name{
    text-align:center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  transform: translateX(-35%);
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width:160px;
}

.dropdown-content a {
  color: #000;
}
.nav-bar-drop{

  
  background-color: rgb(75, 148, 107);
  border: none;
  color:white;
}
#advance-search{

  min-width: 650px;

}
/* Change color of dropdown links on hover */
.dropdown-content .filter:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;
  display:flex;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


/*labels the filter*/
.label{
    width:20%;
}

/*price upper and lower bound input*/
/*adds the ₱*/
.price-bound:before {
    position: absolute;
    padding-left: 5px;
    content:"\20B1";

}
/*alignment*/
.price-bound{
    padding-left:5px;
    padding-right:5px;
}
.price-bound > input{
    text-indent: 16px;
}


/*additional tags*/
.tags{

   border-radius: 10px;
    margin: 3px;
    height:20px;
    background-color: gray;
    color:white;
}
.tags-selected{
background-color: antiquewhite;
color:#3e8e41;
border-radius: 10px;
margin: 3px;
height:20px;
}

.inside{
    display:flex;
    flex-direction: row;
    height:100%;
    width:100%;
    background-color: rgb(75, 148, 107);
}

.contentforotherpages
{
    width: 100%;
}

.content{
    height:100%;
    font-size: 150px;
    color:white;
    text-align: center;
    background-image: url("https://miro.medium.com/v2/resize:fit:3840/1*s0F0i9hHCwc756pbaYCWrQ.png");
}

#menu{
    display:none;
}
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 20%;
  /* to make the sidenav follow the scroll (sticky)
  position: relative;
  */
  display:none;
  left: 0;
  background-color: rgb(75, 148, 107);
  overflow-x: hidden;
  padding-top: 10px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}


/*

/* On mouse-over 
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
  background-color: #037c07;
}

*/
/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}



/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #75b984;
  min-width:100%;
}

.dropdown-container a{
  padding: 5px;
  padding-left: 12%;
  margin:0%;
  width:90%;

}
/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
  
.flexmain{
    display: flex;
    flex-direction: column;
}

.flexrow{
    display: flex;
}

.flexheader{
    position: fixed;
    z-index: 5;
    top: 0px;
    display: flex;
    border-bottom: 1px solid white;
    width: 100%;
    min-height: 80px;
    background-color: #448753;
    align-items: center;
}

.headerholder{
    min-height: 80px;
}

.headerleft, .headermiddle, .headerright{
    display: flex;
    width: 33%;
    margin-top: 5px; 
    align-items: center;
}


.headerleft > img{
    width: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.headerleft > p{
    font-size: 25px;
    font-family: georgia;
    color: white;
}

.form{
    display: flex;
}

.headermiddle{
    padding-left: 5px;
    justify-content: center;
}

.headermiddle > img{
    width: 50px;
    padding-left: 5px;
}

.headerright{
    justify-content: right;
    padding-right: 20px;
}

.headerright > a > img{
    width: 50px;
    border-radius: 50%;
}

.headerright > img{
    width: 50px;
    border-radius: 50%;
}

.flexbody{
    display: flex;
    flex-direction: column;
    /*background-image: linear-gradient(to top, #006600 0%, #009933 100%);*/
    background-color: #dbebd5;
    height: 1000px;
}

.flexrestopart{
    display: flex;
    width: 100%;
    height: 45%;
    align-items: center;
    justify-content: center;
}

.restoprofile, .restodesc, .restomenu{
    display: flex;
    align-items: center;
    margin: 1%;
    
}


.restoprofile{
    min-width: 33%;
    height: 100%;
    padding-top: 10px;
}

.restoprofile > img{
    width: 100%;
    height: 90%;
    border-radius: 5%;
}

.restodesc, .restomenu{
    flex-direction: column;
    width: 30%;
    height: 90%;
    background-color: white;
    border-radius: 80px;
    border: 1px solid #448753;
    padding-top: 15px;
    color: #448753;
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
}

.restodesc > span, .restomenu > span, .review-box > span{
    font-size: 40px;
    border-bottom: 1px solid #448753;
}

.restodesc > p, .restomenu > ul{
    font-size: 25px;
}

.revsummary{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
    width: 55%;
    height: 60%;
    background-color: #448753;
    border-radius: 5%;
    transform: translate(0px, -40px);
    text-align: left;
    color: white;
}

.revsummary > p{
    margin: 3px;
    font-size: 20px;
    font-family: georgia;
    padding-left: 10%;

}

.revstars{
    width: 40%;
    height: 100%;
    transform: translate(60px, 40px);
}

.revstars > img{
    width: 55%;
    height: 95%;
}

table {
    border-collapse: collapse;
    width: 100%;
    transform: translate(-40px, -40px);
}

td {
    text-align: left;
    padding: 20px;
}

progress {
    width: 100%;
    height: 20px; 
}

progress[value]::-webkit-progress-value,
progress[value]::-moz-progress-bar,
progress[value]::-ms-fill {
    background-color: #448753;
}
progress[value]::-webkit-progress-bar {
    background-color: #ddd;
}

.flexmenulist{
    display: flex;
    justify-content: space-evenly;
}

.flexmenuresto{
    height: 70%;
    width: 40%;
    display: flex;
    justify-content: center;
    transition: font-size 4s, width 1s, height 1s, border 0.1s;
    border-radius: 80px;
    margin: 1%;
}

.flexmenuresto:hover{
    height: 80%;
    width: 50%;
    border: 5px solid black;
}

.flexmenuresto > img{
    height: 100%;
    width: 100%;
    border-radius: 80px;
    border: 1px solid #448753;
}

.flexmenuresto > span{
    font-family: georgia;
    background-color: rgba(48, 37, 37, 0.692);
    color: white;
    position: absolute;
    z-index: 1;
    font-size: 25px;
    border-radius: 90px;
}

.userprofileself
{
    height: 25%;
}

.userprofileselfname
{
    height: 25%;
    border-bottom: 1px solid #448753;
    color: #448753;
    font-size: 25px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-family: georgia;
}

.userprofileselfpfpnbio
{
    height: 75%;
    color: #448753;
    font-family: georgia;
    display: flex;
    flex-direction: row;
}

.userprofilepfp
{
    padding: 10px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userprofilepfp > img
{
    border-radius: 50%;
    height: 100%;
}

.userprofilebio
{
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.editpfp-button
{
    width: 200px;
}

.editbio-button
{
    width: 100px;
}

.report-button
{
    width: 100px;
    height: 100%;
    background-color: #aa3737;
    color: white;
    font-family: georgia;
    border: #aa3737;
    font-size: 15px;
}

.editpfp-button:hover, .editbio-button:hover {
    background-color: white;
    border: 1px solid #448753;
    color: #448753;
}

.report-button:hover{
    background-color: white;
    color: #aa3737;
    border: 1px solid #aa3737;
}

.editpfp-button, .editbio-button
{
    transition-duration: 0.4s;
    height: 100%;
    background-color: #448753;
    color: white;
    font-family: georgia;
    border: #448753;
    font-size: 15px;
}

.userbio
{
    height: 70%;
    color: #448753;
    font-family: georgia;
    font-size: 20px;
    width: 80%;
    padding: 20px;
}

.usereditbio
{
    height: 20%;
    width: 100%;
    text-align: right;
}

.userprofilereviews
{
    height: 75%;
    display: flex;
    flex-direction: row;
}

.userprofilereviewleft
{
    /*just an empty spacer for now*/
    width: 20%;
    padding: 10px;
    padding-top: 20px;
    background-color: rgb(227, 241, 227);
    border: 1px solid #448753;
}

.userprofilereviewright
{
    width: 80%;
    padding: 20px;
    border-top: 1px solid #448753;
    background-color: rgb(227, 241, 227);
    display: flex;
    flex-direction: column;
}

.reviewupper
{
    height: 5%;
    font-size: 25px;
    color: #448753;
    font-family: georgia;
    padding-bottom: 20px;
}

.reviewlower
{
    height: 95%;
    font-size: 25px;
    color: #448753;
    font-family: georgia;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.reviewcontainer
{
    display: flex;
    flex-direction: row;
    height: 30%;
    border-top: 1px solid #448753;
    padding-bottom: 10px;
}

.reviewcontainerleft
{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(227, 241, 227);
}

.reviewcontainerleft > img
{
    border-radius: 50%;
    height: 100%;
}

.reviewcontainerright
{
    padding: 10px;
    width: 75%;
    background-color: rgb(227, 241, 227);
    display: flex;
    flex-direction: column;
}

/*FRIENDS STUFF*/
.friendcontainer
{
    display: flex;
    flex-direction: row;
    height: 10%;
    padding-bottom: 10px;
    background-color: rgb(227, 241, 227);
}

.friendcontainerleft
{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(227, 241, 227);
    padding-left: 30px;
}

.friendcontainerleft > img
{
    width: 50px;
    border-radius: 50%;
}

.friendcontainerright
{
    padding: 10px;
    width: 75%;
    background-color: rgb(227, 241, 227);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: #448753;
    font-family: georgia;
}

.rctop
{
    height: 10%;
    color: #448753;
    font-family: georgia;
    font-size: 20px;
    align-items: center;
    display: flex;
}

.rcmid
{
    height: 20%;
}

.rcbottom
{
    height: 70%;
    color: #448753;
    font-family: georgia;
    font-size: 20px;
}

.sidebar{
    width: 13%;
    height: 100%;
    background-color: #75b984;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 0px;
}

.sidebaraside{
    min-width: 13%;
    background-color: #75b984;
}

.iconcontainer{
    display: flex;
    text-align: center;
    align-items: center;
    border: 1px solid white;
    width: 80%;
    margin: 10%;
    border-radius: 40%;
    height: 14%;
    padding: 2px;
    position: relative;
    background-color: transparent;
}
  
  .iconcontainer::before {
    background: hsl(120, 88%, 76%);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    border-radius: 40%;
  }
  
  .iconcontainer:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

.iconcontainer > img{
   padding: 8%;
   height: 45%;
   width: 25%;
  
}

.iconcontainer > span{
    font-size: 22px;
    font-family: georgia;
    color: white;
}

  
  .form-popup {
    display: none;
    position: fixed;
    bottom: -5px;
    z-index: 9;
    max-height: 75%;
    min-height: 50%;
    max-width: 14.6%;
  }
  
  .form-container {
    max-width: 90%;
    padding: 5px;
    background-color:  #75b984;
  }
  
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 90%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: red;
  }
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  /*5 star rating*/
  /*looks like this radio button> o★_star <star */
.rate {
    float: left;
    height: 46px;
    padding-right: 0 10px;
  }
  .rate:not(:checked) > input {
    display:none; /*hides the buttons, only shows the stars/content */
  }
  .rate:not(:checked) > label {
    
    /*
    sets label to right, and width to 1em, then overflow is hidden which hides the _star*/
    float:right;
    width:1em;
    overflow:hidden;
    /*no wrap so text doesnt do down and be visible*/
    white-space:nowrap;
    /*cursor changes to indicate clickable element*/
    cursor:pointer;
    font-size: 28px;
    /*initial color / unrated*/
    color:#ccc;
  }
  .rate:not(:checked) > label:before {
    content: '\2605';
  }
  .rate > input:checked ~ label {
    color: #ffc700;
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
  a {
    text-decoration: none;
}


