
<div class = "flexmain">
    {{> header}}
    <div class = "headerright">
    </div>
</div>
</div>
<div class="headerholder"></div>
<div class="inside">
    {{> sidebar}}
    <section class="getin-section">
        <div class = "flexlogin">
            <div id = "login-box">
                <form class = "loginform" action = "/read-user" method="post">
                    <label for="user">Username</label><br>
                    <input type="text" id="user" name="user"><br>
                    <label for="pass">Password</label><br>
                    <input type="password" id="pass" name="pass">
                    <!--<input type="submit" value="Submit" class = "loginsb">-->
                    
                <button type="editpfp-button" class = "editpfp-button"  onclick="window.location.href='/menu-page'">Submit</button>
                <a href="signup-page" style="color:#04AA6D">Create new account?</a></form>
                {{#if errorMessage}}<p class="red-text">{{errorMessage}}</p>{{/if}}
                {{#if link}}
                <label for="user">Remembered User: {{name}}</label><br>
                <div class = "remembered">
                    <a href="{{link}}">
                    <img src="{{img}}">
                    </a>
                </div>
                {{/if}}
            </div>
        </div>
    </section>
</div>
