<body>
<div class = "flexmain">
    {{> header}}
    <div class = "headerright">
        {{#if user.urlname}}<button type="logout-btn" class = "logout-btn"  onclick="window.location.href='/'">Logout</button>{{/if}}
        <a href="/profile-page/{{user.urlname}}"><img src = "{{user.image}}"></a>
        {{else}}
        <a href="/showall/"><img src = "{{user.imagesquare}}"></a>
        {{/if}}
    </div>
</div>
</div>
<div class="headerholder"></div>
<div class="inside">
    {{> sidebar}}
<div class = "content">
    <div>
    Explore Food Around Taft
    </div>
    <button type="editpfp-button" class = "editpfp-button" onclick="window.location.href='login-page'">Login</button>
    <button type="editpfp-button" class = "editpfp-button" onclick="window.location.href='signup-page'">Sign Up</button>
</div>
</div>
