

<div class = "flexmain">
    {{> header}}
</div>
<div class="headerholder"></div>
<div class="inside">
    {{> sidebar}}
    <div class = "flexbody">
        <div class = "flexrestopart flexmenulist">
            <div class = "flexmenuresto">
                <span>De La Salle University</span>
                <a href = "RestaurantsPage.html">
                <img src = "Images/DLSU.jpg">
                </a>
            </div>
            <div class = "flexmenuresto">
                <span>EGI Towers</span>
                <a href = "RestaurantsPage.html">
                <img src = "Images/EGI.jpg">
                </a>
            </div>
            <div class = "flexmenuresto">
                <span>One Archers</span>
                <a href = "RestaurantsPage.html">
                <img src = "Images/ARCHERS.jpg">
                </a>
            </div>
            <div class = "flexmenuresto">
                <span>Green Residences</span>
                <a href = "RestaurantsPage.html">
                <img src = "Images/GREEN.jpg">
                </a>
            </div>
        </div>
        <div class = "flexrestopart flexmenulist">
            <div class = "flexmenuresto">
                <span>University Mall</span>
                <a href = "RestaurantsPage.html">
                <img src = "Images/UMALL.jpg">
                </a>
            </div>
            <div class = "flexmenuresto">
                <span>R Square</span>
                <a href = "RestaurantsPage.html">
                <img src = "Images/RSQUARE.jpg">
                </a>
            </div>
            <div class = "flexmenuresto">
                <span>Manila Residences</span>
                <a href = "RestaurantsPage.html">
                <img src = "Images/MANRES.png">
                </a>
            </div>
            <div class = "flexmenuresto">
                <span>Burgundy</span>
                <a href = "RestaurantsPage.html">
                <img src = "Images/BURGUNDY.jpg">
                </a>
            </div>
        </div>
    </div>    
</div>
