

<div class = "flexmain">
    {{> header}}
    
    <div class = "headerright">
        <button type="logout-btn" class = "logout-btn"  onclick="window.location.href='/'">Logout</button>
        {{#if checkUser}}
        <a href="/profile-page/{{user.urlname}}"><img src = "{{user.image}}"></a>
        {{else}}
        <a href="/showall/"><img src = "{{user.imagesquare}}"></a>
        {{/if}}
    </div>
</div>
</div>
<div class="headerholder"></div>
<div class="inside">
    {{> sidebar}}
    {{> menubody}}
</div>
