<div class = "flexmain">
    {{> header}}
</div>
<div class="headerholder"></div>
<div class="inside">
    {{> sidebar}}
  <div class="main">
    <div class="{{status}}">
      <h1>{{msg}}</h1>
    </div>
  </div>
</div>
