

<div class = "flexmain">
    {{> header}}
    
    <div class = "headerright">
    </div>
</div>
</div>
<div class="headerholder"></div>
<div class="inside">
    {{> sidebar}}
    <section class = "getin-section">
        <div class = "flexsignup">
            <div id = "login-box">
                <form class = "loginform" action = "/create-user" method="post">
                    <!--<label for="lname">User Email</label><br>-->
                    <!--<input type="text" id="email" name="email"><br>-->
                    <label for="fname">Full Name/ Establishment Name</label><br>
                    <input type="text" id="fname" name="fname"><br>
                    <label for="fname">Username</label><br>
                    <input type="text" id="username" name="username"><br>
                    <label for="password">Password</label><br>
                    <input type="password" id="password" name="password">
            
                    Establishment Owner?
                    <input type="radio" id="estbownerbtn1" name="estbowner" value="yes" onchange="openEstabl()">
                    <label for="estbownerbtn1">Yes</label>
                    <input type="radio" id="estbownerbtn0" name="estbowner" value="no" onchange="openEstabl()">
                    <label for="estbownerbtn0">No</label><br>
                    <label for="elandm" class="establ" id="elandm-label">Establishment Landmark</label><br>
                    <select class ="establ" id="elandm" name="elandm" >
                        <option value="U_Mall">University Mall</option>
                        <option value="Burgundy">Burgundy</option>
                        <option value="DLSU">De La Salle University Manila</option>
                        <option value="EGI">EGI Towers</option>
                        <option value="Archers">One Archers</option>
                        <option value="G_Residences">Green Residences</option>
                        <option value="R_Square">R_Square</option>
                        <option value="Man_Res">Manila Residences</option>
                    </select><br>
                    <label for="elandm" class="establ" id="categoryy-label">Establishment Category</label><br>
                    <select class ="establ" id="categoryy" name="categoryy" >
                        <option value="fastfood">fastfood</option>
                        <option value="coffeee">coffee</option>
                        <option value="drinks">drinks</option>
                        <option value="local">local</option>
                        <option value="snacks">snacks</option>
                        <option value="asian">asian</option>
                        <option value="western">western</option>
                        <option value="all-you-can-eat">all you can eat</option>
                    </select><br>
                    <label for="elandm" class="establ" id="map-label">Google Maps Link</label><br>
                    <input type="text" id="map" name="map" class="establ"  placeholder = "https://maps.app.goo.gl/">
                    <label for="elandm" class="establ" id="price-label" >Average Product Price</label><br>
                    <input type="text" id="price" name="price" class="establ" placeholder = "eg: 150, 250, 200">
                    
                <input type="submit" value="Get Started!" class = "loginsb">
                <a href="login-page" style="color:#04AA6D">Already have an account?</a>
                </form>
            </div>
        </div>
    </section>
</div>
